.banner { 
	background-image: linear-gradient(131deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 50%), url(../../images/background.webp);
	color: #658864;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 { 
	font-size: 50px;
	margin-top: 90px;
}

.banner h2 { 
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}